// Portfolio item 4 modal popup
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Massage Packages
                            p.item-intro.text-muted 60 Minutes: 130
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/4.jpg', alt='...')
                            p $520(4 hours prepaid), people have stressed every day and the stresses are the silent killer, why don’t you treat yourself well and relax your body and mind? You can share the membership card for your family members. Enjoy these SPECIAL Therapeutic Treatments to decrease the stresses and cleared your mind. 
                            //- ul.list-inline
                            //-     li
                            //-         strong Client:
                            //-         | Lines
                            //-     li
                            //-         strong Category:
                            //-         | Branding
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-times.me-1
                                | Close
