doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title No Fault Medical Massage

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    //- img(src='assets/img/navbar-logo.svg', alt='...')
                    h2 CY Massage Therapy PC
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#testimonials') Testimonials
                        li.nav-item
                            a.nav-link(href='#services') Mission
                        //- li.nav-item
                        //-     a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') About
                        li.nav-item
                            a.nav-link(href='#portfolio') Services
                        li.nav-item
                            a.nav-link(href='#hours') Hours
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Professional Medical Massage
                .masthead-subheading.text-upper Accept No-Fault/PIP
                a.btn.btn-primary.btn-xl.text-uppercase(href='#testimonials') Tell Me More

        // Testimonials
        section#testimonials.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Testimonials
                .row.text-center
                    .col-md-4
                        //- span.fa-stack.fa-4x
                        //-     i.fas.fa-circle.fa-stack-2x.text-primary
                        //-     i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                        
                        p.text-muted
                            | I am a client at Yang’s massage therapy. I got injured from an accident. I wasn’t so sure how this works with no fault and what should I do to get the treatment etc. but Canney, the massage therapist is very knowledgeable about no fault insurance, she did everything for me and I only got my prescription from the dr. When it comes to massage, she is amazing and you walk out feels like a feather ! My week starts looking forward to go to her😊 you will love to go to her, and I highly recommend her
                        h4.my-3.text-muted - Sona Y.
                    .col-md-4
                        //- span.fa-stack.fa-4x
                        //-     i.fas.fa-circle.fa-stack-2x.text-primary
                        //-     i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        
                        p.text-muted
                            | I got referral from my Neurologist for Accupuncture and massage therapy since MVA 2019, I heal better from their cupping, guasha, hot, cold stone therapy and stretching. I really appreciate Jack and Canney always provide the best treatments. I am glad I found them. I strongly recommend people who have mva cases or pain related issues, this is the right place to heal and feel better.
                        h4.my-3.text-muted - Martin Q.
                    .col-md-4
                        //- span.fa-stack.fa-4x
                        //-     i.fas.fa-circle.fa-stack-2x.text-primary
                        //-     i.fas.fa-lock.fa-stack-1x.fa-inverse
                        
                        p.text-muted
                            | I am grateful and appreciate that Ms. Yang provide the cold+hot+cold method of marble stone therapy to help decreasing my muscle pain and strain since my neck surgery couple weeks ago, it’s amazing that cold stone really help to decrease the inflammation and increase circulation. I love this special Luxury treatment. I appreciate my spine specialist referred me to have medical massage.
                        h4.my-3.text-muted - Jose P.
                    .col-md-4

                        p.text-muted
                            |  
                        h4.my-3.text-muted  
                    .col-md-4
                    
                        p.text-muted
                            | Canney is the best around. She is very knowledgeable, knows how to make her clients feel good and has excellent technique. I came to her after a car accident and she worked  on helping me get better. Not only does she do massage therapy but she also used hot stones, cold stone therapy, cupping, and traditional Chinese technique guasha. She also included stretching in our sessions which really helped me out. I would recommend her to anyone looking for a medical massage or even a regular massage.Canney is the best around.  She is very knowledgeable, knows how to make her clients feel good, and has excellent technique. I came to her after a car accident, and she worked  on helping me get better. Not only does she do massage therapy, but she also uses hot stones, cold stone therapy, cupping, and traditional Chinese technique guasha. She also included stretching in our sessions, which really helped me out. She uses hot towels to clean you off so your clothes dont get dirty! She also uses essential smelling oils. I would recommend her to anyone looking for a medical massage or even a regular massage.
                        h4.my-3.text-muted - Amy P.
                    .col-md-4

                        p.text-muted
                            |  
                        h4.my-3.text-muted  
                    .col-md-4
        // Services
        section#services.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Mission
                    h3.section-subheading.text-muted Refresh, maintain the body and through different massage techniques and treatments.
                .row
                    .col-lg-8.mx-auto.text-center
                        ul.timeline
                            li
                                .timeline-image
                                    img.rounded-circle.img-fluid(src='assets/img/mission-image.jpg', alt='...')
                        p.large.text-muted
                            | I specialize and accept no-fault/PIP case medical massage therapy since 2012. According to the statistics, we found that 95% of injured patients do not know that they have medical massage therapy covered after car accidents. I'd like to share this benefit to anyone who experienced suffering pain after a MVA. Many of our patients have found medical massage therapy to be an effective treatment for pain and discomfort related to whiplash and lumbar trauma. No-Fault/PIP automobile insurance will mostly cover massage therapy for their injuries. We'll guide you on how to follow up with the treatments.
                        p.large.text-muted
                            | Some injured people stopped the treatment when they found out the insurance sent them denied letters. Please don’t panic, as I will assist and show you how to proceed with the right treatments.
                        p.large.text-muted
                            | CY (See Why) Massage Therapy includes therapeutic different modalities such as manual lymphatic massage therapy, myofascial release, neuromuscular re-education, hot or cold packs/stone and stretching. Free referrals to different specialties. Also in my clinic, there is an acupuncturist who will accept no-fault acupuncture treatment.
                        p.large.text-muted
                            | People have stress every day and the stresses are silent killers. We strongly recommend people to buy a prepaid 4 hours package ($512) to maintain and balance the body. Life is too short, treat yourself well, relax your mind and create a healthy life style. This way will make you healthy and happy. You can share the package with your family members. Enjoy these SPECIAL Therapeutic Treatments to decrease the stresses and clear your mind.
                .row 
                    .col-lg-4
                        .team-member
                            img.mx-auto(src='assets/img/storefront/cyang-1.jpg', alt='...')
                    .col-lg-4
                        .team-member
                            img.mx-auto(src='assets/img/storefront/cyang-2.jpg', alt='...')
                    .col-lg-4
                        .team-member
                            img.mx-auto(src='assets/img/storefront/cyang-3.jpg', alt='...')
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted 
                            | Besides accepting no-fault/PIP case, I also accept NYSHIP, HSA, and private clients who may pay Zelle, Venmo, credit cards, checks and cash.
                            br
                            | Please email to nofaultmedicalmassage@gmail.com if you have any questions about no fault/PIP cases.  If you need a lawyer, we can refer you to the right one.
                            br
                            | Or text to 516-641-0818 to make an appointment. Open hours are by appointments only.

                //- .row.text-center
                //-     .col-md-4
                //-         span.fa-stack.fa-4x
                //-             i.fas.fa-circle.fa-stack-2x.text-primary
                //-             i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                //-         h4.my-3 E-Commerce
                //-         p.text-muted
                //-             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                //-     .col-md-4
                //-         span.fa-stack.fa-4x
                //-             i.fas.fa-circle.fa-stack-2x.text-primary
                //-             i.fas.fa-laptop.fa-stack-1x.fa-inverse
                //-         h4.my-3 Responsive Design
                //-         p.text-muted
                //-             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                //-     .col-md-4
                //-         span.fa-stack.fa-4x
                //-             i.fas.fa-circle.fa-stack-2x.text-primary
                //-             i.fas.fa-lock.fa-stack-1x.fa-inverse
                //-         h4.my-3 Web Security
                //-         p.text-muted
                //-             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

        // Team
        section#team.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted Massage therapy helps people to relieve the stress
                .row
                    //- .col-lg-4
                    .team-member
                        img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                        h4 Canney S. Yang
                        p.text-muted Professional LMT, RMT
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-twitter
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-facebook-f
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-linkedin-in
                    //- .col-lg-4
                    //-     .team-member
                    //-         img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                    //-         h4 Diana Petersen
                    //-         p.text-muted Lead Marketer
                    //-         a.btn.btn-dark.btn-social.mx-2(href='#!')
                    //-             i.fab.fa-twitter
                    //-         a.btn.btn-dark.btn-social.mx-2(href='#!')
                    //-             i.fab.fa-facebook-f
                    //-         a.btn.btn-dark.btn-social.mx-2(href='#!')
                    //-             i.fab.fa-linkedin-in
                    //- .col-lg-4
                    //-     .team-member
                    //-         img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    //-         h4 Larry Parker
                    //-         p.text-muted Lead Developer
                    //-         a.btn.btn-dark.btn-social.mx-2(href='#!')
                    //-             i.fab.fa-twitter
                    //-         a.btn.btn-dark.btn-social.mx-2(href='#!')
                    //-             i.fab.fa-facebook-f
                    //-         a.btn.btn-dark.btn-social.mx-2(href='#!')
                    //-             i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | I'm a very serious and responsible person. Massage therapy helps people to relieve the stress. I have received massage treatment more than 20 years. I know how the effect of massage is to make the whole body and mind healthier. When you are healthy, then you feel happy and have a greater sense of well-being. There is a Chinese saying, "When the wealth is lost nothing is lost. When the health is lost something is lost...". It means that health should be considered more important than any other wealth.
                        br
                        p.text-muted Member of The New York State Society of Medical Massage Therapists (NYSSMMT)
                        a(href='https://www.amtamassage.org/')
                            img(src='assets/img/amta.png', alt='...')
                        //- p.large.text-muted
                        //-     | The mission statement is to relax the mind, body and soul. Refresh, maintain the body and through different massage techniques and treatments. I'd like to see all clients enjoy a pain free and healthy lifestyle after receiving Yang’s therapeutic treatments.
                        //- p.large.text-muted
                        //-     | Yang's Massage Therapy all starts here...enrichment of the mind, nourishment of the body, uplifting of the soul, a place to share, learn and grow, a place for nurturing the human body and mind.

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    h3.section-subheading.text-muted I provide the following services
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/1.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Medical Massage
                                .portfolio-caption-subheading.text-muted Customized: $123
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/2.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Therapeutic Massage
                                .portfolio-caption-subheading.text-muted 60 Minutes: $161
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/3.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Swedish Massage
                                .portfolio-caption-subheading.text-muted 75 Minutes: $199
                    //- .col-lg-4.col-sm-6.mb-4.mb-lg-0
                    // Portfolio item 4
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/4.jpg', alt='...')
                        .portfolio-caption
                            .portfolio-caption-heading Massage Packages
                            .portfolio-caption-subheading.text-muted 60 Minutes: $128
                    //- .col-lg-4.col-sm-6.mb-4.mb-sm-0
                    //-     // Portfolio item 5
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-plus.fa-3x
                    //-             img.img-fluid(src='assets/img/portfolio/5.jpg', alt='...')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Southwest
                    //-             .portfolio-caption-subheading.text-muted Website Design
                    //- .col-lg-4.col-sm-6
                    //-     // Portfolio item 6
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-plus.fa-3x
                    //-             img.img-fluid(src='assets/img/portfolio/6.jpg', alt='...')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Window
                    //-             .portfolio-caption-subheading.text-muted Photography

        //- // About
        //- section#about.page-section
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase About
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         ul.timeline
        //-             li
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 2009-2011
        //-                         h4.subheading Our Humble Beginnings
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li.timeline-inverted
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 March 2011
        //-                         h4.subheading An Agency is Born
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 December 2015
        //-                         h4.subheading Transition to Full Service
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li.timeline-inverted
        //-                 .timeline-image
        //-                     img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
        //-                 .timeline-panel
        //-                     .timeline-heading
        //-                         h4 July 2020
        //-                         h4.subheading Phase Two Expansion
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
        //-             li.timeline-inverted
        //-                 .timeline-image
        //-                     h4
        //-                         | Be Part
        //-                         br
        //-                         | Of Our
        //-                         br
        //-                         | Story!

                        

        //- // Clients
        //- div.py-5
        //-     .container
        //-         .row.align-items-center
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...')
        // Hours
        section#hours.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Hours
                    h3.section-subheading Please set up an appointment via text 516-641-0818 or email nofaultmedicalmassage@gmail.com
                .row
                    .col-lg-8.mx-auto.text-center
                        table.table.table-striped
                            thead
                                tr
                                th Day
                                th Availability
                            tbody
                                tr
                                td Sunday
                                td By Appointment Only
                                tr
                                td Monday
                                td By Appointment Only
                                tr
                                td Tuesday
                                td By Appointment Only
                                tr
                                td Wednesday
                                td By Appointment Only
                                tr
                                td Thursday
                                td By Appointment Only
                                tr
                                td Friday
                                td By Appointment Only
                                tr
                                td Saturday
                                td By Appointment Only
        
        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Me
                    h3.section-subheading
                        | Please always call my cell, text or email nofaultmedicalmassage@gmail.com before you come
                        br
                        | You can text it to my cell so that I can reply you quickly to confirm the appointment.
                        br
                        | You may check us from http://healthprofs.com/539868.
                        
                    h3.section-heading.text-uppercase Location
                    iframe(src='https://maps.google.com/maps?q=59%20Mineola%20Avenue%20&t=&z=13&ie=UTF8&iwloc=&output=embed')
                    h3.section-subheading
                        | CY Massage Therapy PC
                        br
                        | 1180 Willis Avenue
                        br
                        | Albertson, NY 11507

                .row 
                    .col-lg-8.mx-auto.text-center
                        table.table.table-striped
                            thead
                                tr
                                th CY Massage Therapy PC
                                th Canney S. Yang
                            tbody
                                tr
                                td Email
                                td nofaultmedicalmassage@gmail.com
                                tr
                                td Cell
                                td 516-641-0818
                                tr
                                td Fax
                                td 516-385-5029
                

                //- // * * * * * * * * * * * * * * *
                //- // * * SB Forms Contact Form * *
                //- // * * * * * * * * * * * * * * *

                //- // This form is pre-integrated with SB Forms.
                //- // To make this form functional, sign up at
                //- // https://startbootstrap.com/solution/contact-forms
                //- // to get an API token!

                //- form#contactForm(data-sb-form-api-token='API_TOKEN')
                //-     .row.align-items-stretch.mb-5
                //-         .col-md-6
                //-             .form-group

                //-                 // Name input
                //-                 input#name.form-control(
                //-                     type='text',
                //-                     placeholder='Your Name *',
                //-                     data-sb-validations='required'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='name:required')
                //-                     | A name is required.

                //-             .form-group

                //-                 // Email address input
                //-                 input#email.form-control(
                //-                     type='email',
                //-                     placeholder='Your Email *',
                //-                     data-sb-validations='required,email'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='email:required')
                //-                     | An email is required.
                //-                 .invalid-feedback(data-sb-feedback='email:email')
                //-                     | Email is not valid.

                //-             .form-group.mb-md-0

                //-                 // Phone number input
                //-                 input#phone.form-control(
                //-                     type='tel',
                //-                     placeholder='Your Phone *',
                //-                     data-sb-validations='required'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='phone:required')
                //-                     | A phone number is required.

                //-         .col-md-6
                //-             .form-group.form-group-textarea.mb-md-0

                //-                 // Message input
                //-                 textarea#message.form-control(
                //-                     placeholder='Your Message *',
                //-                     data-sb-validations='required'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='message:required')
                //-                     | A message is required.

                //-     // Submit success message
                //-     //
                //-     // This is what your users will see when the form
                //-     // has successfully submitted

                //-     #submitSuccessMessage.d-none
                //-         .text-center.text-white.mb-3
                //-             .fw-bolder Form submission successful!
                //-             | To activate this form, sign up at
                //-             br
                //-             a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                //-     // Submit error message
                //-     //
                //-     // This is what your users will see when there is
                //-     // an error submitting the form

                //-     #submitErrorMessage.d-none
                //-         .text-center.text-danger.mb-3 Error sending message!

                //-     // Submit Button
                //-     .text-center
                //-         button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; CY Massage Therapy PC 2021
                    .col-lg-4.my-3.my-lg-0
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-twitter
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-facebook-f
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        //- include includes/portfolio-modal-5
        //- include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        //- // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        //- // * *                               SB Forms JS                               * *
        //- // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        //- // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        //- script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
