<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Me</h2>
            <h3 class="section-subheading">
                Please always call my cell, text or email nofaultmedicalmassage@gmail.com before you come
                <br />
                You can text it to my cell so that I can reply you quickly to confirm the appointment.
                <br />
                You may check us from http://healthprofs.com/539868.
            </h3>
            <h3 class="section-heading text-uppercase">Location</h3>
            <h3 class="section-subheading">
                CY Massage Therapy PC
                <br />
                1180 Willis Avenue
                <br />
                Albertson, NY 11507
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CY Massage Therapy PC</th>
                            <th>Canney S. Yang</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>nofaultmedicalmassage@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Cell</td>
                            <td>516-641-0818</td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td>516-385-5029</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>