<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Me</h2>
            <h3 class="section-subheading">
                Please always call my cell, text or email nofaultmedicalmassage@gmail.com before you come
                <br />
                You can text it to my cell so that I can reply you quickly to confirm the appointment.
                <br />
                You may check us from http://healthprofs.com/539868.
            </h3>
            <h3 class="section-heading text-uppercase">Location</h3>
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.3545767609035!2d-73.65240708707762!3d40.77621833356038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28727e44d899d%3A0x891cfd6ed585a24f!2sCY%20Massage%20Therapy%20P.C.!5e0!3m2!1sen!2sus!4v1749706804989!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br />
            <br />
            <h3 class="section-subheading">
                CY Massage Therapy PC
                <br />
                113 Jericho Turnpike
                <br />
                Floral Park, NY 11001
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h3 class="section-subheading">
                    Please download the app <a href="https://get.mndbdy.ly/4tvieiO25V">https://get.mndbdy.ly/4tvieiO25V</a> 
                    <br /> 
                    from your smartphone to book an appointment.
                    <br />
                    <br /> 
                    You can call 516-686-9557 or text 516-447-4373 
                    <br /> 
                    to book an appointment if you don't have an app.
                </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>CY Massage Therapy PC</th>
                            <th>Canney S. Yang</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>nofaultmedicalmassage@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Cell (call)</td>
                            <td>516-686-9557</td>
                        </tr>
                        <tr>
                            <td>Cell (text)</td>
                            <td>516-447-4373</td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td>516-385-5029</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>